[icons]
icons = "awesome5"

[theme]
theme = "slick"

[theme.overrides]
idle_bg = "#282a36"
idle_fg = "#f8f8f2"
info_bg = "#282a36"
info_fg = "#f8f8f2"
good_bg = "#282a36"
good_fg = "#f8f8f2"
warning_bg = "#282a36"
warning_fg = "#f8f8f2"
critical_bg = "#282a36"
critical_fg = "#f8f8f2"
separator = "\ue0b2"
separator_bg = "auto"
separator_fg = "auto"

[[block]]
block = "music"
player = "spotify"

[[block.click]]
button = "left"
cmd = "spotify"

[[block]]
block = "backlight"
device = "intel_backlight"
invert_icons = true

[[block]]
block = "battery"
interval = 10
format = "$percentage"

[[block]]
block = "disk_space"
path = "/"
info_type = "available"
format = " $icon $used/$total ($available)"

[[block]]
block = "temperature"
interval = 1
format = " $average C "
chip = "coretemp-isa-00000"

[[block]]
block = "net"
device = "wlp9s0"
format = " $speed_down $speed_up "
interval = 1

[[block]]
block = "memory"
format = "$mem_used / $mem_total ($mem_used_percents) "

[[block]]
block = "cpu"
interval = 1
format = " $utilization ($frequency) "

[[block]]
block = "sound"
driver = "pulseaudio"

[[block.click]]
button = "left"
cmd = "pavucontrol"

[[block]]
block = "time"
interval = 1
format = " $icon $timestamp.datetime(f:'%H:%M:%S  ÔÅ≥  %a %-d %b W%V') "
