[Desktop Entry]
Type=Application
Name=Shadow PC
Comment=Shadow cloud gaming
Exec=sh -c "nix-shell $HOME/games/shadow/shell.nix --run true"
Terminal=false
Categories=Game;
