[Desktop Entry]
Type=Application
Name=Shadow PC
Comment=Shadow cloud gaming
Exec=sh -c 'nix-shell ~/games/shadow/shell.nix'
Terminal=false
Categories=Game;
